nav {
  text-align: center;
}
nav a {
  color: #9f9f9f;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1.5em 4em;
}
.hamburger {
	display: none;
}

header {
  background-image: url("../images/home_header_bg.jpg");
  background-position: center;
  background-size: cover;
  height: 50em;
  margin-bottom: 8em;
  margin-top: 12px;
}

.centered {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
  letter-spacing: .3em;
  text-align: center;
  color: white;
  font-weight: 300;
}
header h4 {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  letter-spacing: .3em;
  text-align: center;
  color: white;
  font-weight: 300;
}
.archive {
  display: flex;
  margin: 1em;
}
.archive article {
  padding: 1em;
  text-align: center;
}
.archive button {
  width: 11em;
}
.about {
  text-align: center;
  background-color: #bafaff;
  padding: 7em 10em;
  margin: 5.5em auto 6em auto;
}
.about p {
  width: 75%;
  text-align: center;
  margin: 1em auto;
  line-height: 1.618em;
}
.twenty {
  display: flex;
  margin: 3em;
}
.twenty img {
  margin: .5em;
}
.photosLeft {
  margin: 0 2em;
}
.photosRight {
  margin: 0 2em;
}
h5 {
  font-size: 1.2em;
  color: #666666;
  text-align: center;
  margin: 2.5em 0 3.5em 0;
}
h3 {
  color: #666666;
  text-align: center;
}
h2 {
  margin: 1em;
  color: #666666;
  text-align: center;
}
body {
  font-family: "Raleway", "Verdana", sans-serif;
}
p {
  color: #666666;
  font-family: "Lato", "Verdana" sans-serif;
}
form {
  margin: auto;
  padding: 0 5em 5em 4em;
}
.inputTop {
  display: flex;
  justify-content: space-between;
}
.inputTop input{
  width: 50%;
  height: 2em;
  margin: 1em 0;
  border: solid 2px;
  border-color: #666666;
  padding: 0 .75em;
}
#email {
  margin-left: 1em;
  margin-right: 1em;
}
.inputBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
textarea {
  border: solid 2px;
  border-color: #666666;
  height: 9em;
  padding-left: .75em;
}
#submit {
  margin-top: 1em;
  border: solid 2px;
  border-color: #666666;
  height: 3em;
}
footer {
  background-color: #bafaff;
  text-align: center;
  height: 190%;
  width: 100%;
}
.social a {
  text-decoration: none;
  color: #666666;
  text-align: center;
}
.social img {
  max-width: 2%;
  max-height: 2%;
  display: inline-block;
  margin: 1em 1em;
}
#emailSubcribe {
  margin-bottom: 3em;
  text-align: center;
  height: 2em;
  width: 30%;
}
button{
  border: solid 2px;
  border-color: #666666;
  height: 2.5em;
  width: 20%;
  color: #666666;
}
#subscribe {
  background-color: #bafaff;
  margin-left: 3em;
}
#copyright {
  color: #999999;
  border-top: 1px solid;
  padding-top: 1em;
}
img {
  max-width: 100%;
}
@media only screen and (max-width: 785px) {


}
@media only screen and (max-width: 500px){
.hamburger {
	display: block;
	color: #fff;
  font-size: 1.7rem;
	position: absolute;
	top: 8px;
	left: -25px;
  }
  nav a {
    display: none;
  }
  html {
    font-size: 18px;
  }
}
